doctype html
html(lang="fr")
    head
        title="UIM_Xarion"
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/master.js',defer)
        script(type="riot/tag",src='/tags/alarms_console.tag',defer)
        script(type="riot/tag",src='/tags/groups.tag',defer)
        script(type="riot/tag",src='/tags/infrastructure.tag',defer)
        script(type="riot/tag",src='/tags/tree.tag',defer)
        script(src='/libs/riot.js',defer)
    body
        header
            section.centering
                nav
                    ul
                        li.active(id="menu_alarms") Alarms console
                        li(id="menu_groups") Groups
                        li(id="menu_infrastructure") Infrastructure
        main(id="main")
        script.
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
