body, html, h1, h2, h3, h4, h5, h6, p, span, ul, li, section, b, form, input, select {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-size: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #43A047;
}

.centering {
    width: 90vw;
    position: relative;
    display: flex;
}

header {
    height: 80px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+0,333333+100 */
    background: rgb(28,28,28); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(28,28,28,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(28,28,28,1) 0%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #CFD8DC;
    box-shadow: 2px 2px 10px rgba(20,20,20,0.3);
    flex-shrink: 0;
    overflow: hidden;
}

    header nav {
        display: flex;
        flex-grow: 1;
    }
        header nav > ul {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }
            header nav > ul li {
                height: 35px;
                border-radius: 2px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                color: #FFF;
                background: #1565C0;
                border: 2px solid #2962FF;
                box-sizing: border-box;
            }
                header nav > ul li:not(.active):hover, header nav > ul li.active {
                    background: #43A047;
                    border: 2px solid #4CAF50;
                    cursor: pointer;
                }

            header nav > ul li + li {
                margin-left: 15px;
            }

main {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
    main alarms-console {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-shrink: 0;
    }
    main usm-groups {
        display: flex;
        width: 100%;
        flex-shrink: 0;
    }
    main usm-infrastructure {
        display: flex;
        width: 100%;
        flex-shrink: 0;
    }
